#container {
	padding-top: 100px;
    
}

#col-6 {
	padding-top: 50px;
    width: 25%;
    align-self: center;
}

#tituloDisp{
    padding-top: 3%;
}

.container{
    background-color: white;
    padding-bottom: 5.5%;
}